<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='icon' type='image/png' href='/img/icon.png' />

    <title><%= mud %></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->
    
    <link rel='stylesheet' type='text/css' media='all' href='/css/layout.css' />
    <link rel='stylesheet' type='text/css' media='all' href='/css/colors.css' />

    <!-- draggable -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"> 
 
    <style>
  .ui-dialog { opacity: 0.5 } 
  .ui-dialog-frontmost, .ui-dialog-dragging { opacity: 0.8 }  
  .output { z-index: -1 }
  </style>

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"> -->
   
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Playing <%= mud %></a>
        </div>
        <div class="navbar-inner">
          <ul class="nav navbar-nav">
            <li class="active newDialog" id="new-dialog"><a href="#">New Dialog</a></li>
            <li><a href="#about">Delete All Dialogs</a></li>
            <li><a href="#contact">Minimize All Dialogs</a></li>
          </ul>

          <ul class="nav nav-navbar pull-right">
            <li><button class="btn btn-sm btn-danger btn-logout" data-toggle="modal" data-target="#myModal">Logout</button></li>
                
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container">

      <div>
        <div id='client'>
            <div id='world' class='output'></div>
        </div>

        <div id='input'>
            <input type='text' />
        </div>
      </div>

    </div><!-- /.container -->
<!--
    <div class="dialog"><p>Some data we want to pipe out from the mud we can display here<br>This window is draggable and resizeable</p></div>
-->
    <!-- hidden modal.  use for login/login out? -->
    <div class="modal fade draggable" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>Modal for login/logout stuff/settings</p>       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- 1.4.4 was for muddy.  1.9.1 seems to work as well (needed for draggable) -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script type='text/javascript' src='/socket.io/socket.io.js'></script>
    <!--<script type='text/javascript' src='/js/ext/jquery-1.4.4.min.js'></script>-->
    <script type='text/javascript' src='/js/jquery.dialogextend.js'></script>
    <script type='text/javascript' src='/js/lib/world.js'></script>
    <script type='text/javascript' src='/js/muddy.js'></script>
    <script type='text/javascript' src='/js/ui.js'></script>
    <script type='text/javascript' src='/js/ui.dialogextend.js'></script>

  </body>
</html>