body {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #909090;
  background: #232323;
}

@font-face {
  font-family: DroidSansMono;
  src: url('/fnt/DroidSansMono.ttf');
}

#world {
  position: absolute;
  top: 0;
  bottom: 25px;
  left: 0;
  right: 0;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: DroidSansMono;
  font-size: 10px;
  line-height: 14px;
  white-space: pre-wrap;
  color: #dddddd;
  background: #333333;
}

#input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  padding: 0 5px;
  background: #232323;
  border: none;
  color: #ffffff;
}

#input:focus {
  outline: none;
}
